/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;}



body{

  padding: 10;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient( #536976, #292e49);
  background-attachment: fixed;
  cursor: default;
}

h1 {

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em;
    animation:
      typing 2.8s steps(40, end),
      blink-caret .75s step-end infinite;

}

h2,.white{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}
/* section 1 */
.section-1{
    margin:auto;
    padding-top: 15vh;
    padding-left: 20vw;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color:#D3D3D3;
}


.section-1 h1{
    font-size: 2.6rem;
    margin-bottom: 10px;
    color: #fff;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 15px;
    color:#fff;

}

a.btn {
    margin-top:10px;
    display:inline-flex;
    text-shadow: none;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 12px;
    padding:7px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color:#FFF;
    background-color:#008CBA;
}



img {
    border-radius:50%;
    opacity: 0.8;
}

/* section 2 */
.section-2{
    padding-top: 15vh;
    width: 80%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #fff;
}

.section-2 p{
    font-size: 1.3rem;
    padding-bottom: 10px;
    margin:0;
    word-spacing: 3px;
    color:#D3D3D3;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.3rem;
    padding-left: 0;
    width: auto;
    color:#D3D3D3;
}
/* animations / utilities */


.section-1 a:hover{
    color: #267CB9;
    cursor: pointer;
    transition: 0.3s;


}

.img:hover{
    -webkit-transform: rotateZ(-15deg);
    -ms-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
    transition: 0.1s;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        width:90%;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .section-1 h1{
        font-size: 2rem;
        margin-bottom: 10px;
        color: #fff;
    }


}
